* {
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
  text-align: center;
  line-height: 1.5;
  color: #333;
}

a {
  color: #0765bd;
}

.container {
  width: 90%;
  max-width: 960px;
  margin: 0 auto;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0,0,0,0);
  white-space: nowrap;
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  border: 0;
}

.page-header {
  border-bottom: #111 1px solid;
  position: relative;
  margin-bottom: 20px;
}

h1 {
  font-size: 1.6em;
  margin: 10px 0;
}

h1 span {
  display: block;
}

h1 .han {
  font-size: .9em;
}

.han {
  color: #777;
}

.poj.hide, .tl {
  display: none !important;
}

.tl.show {
  display: block !important;
}

.info {
  margin-bottom: 20px;
}

.info p {
  margin: 0 0 5px;
}

.lang-switch__intro span {
  display: block;
}

.lang-switch__wrapper {
  display: flex;
  margin: 10px auto 20px;
  justify-content: center;
  font-size: 15px;
}

.lang-switch__wrapper span {
  display: block;
}

.lang-switch__wrapper input {
  display: none;
}

.lang-switch__option label {
  display: block;
  padding: 5px 10px;
  width: 290px;
  border: #111 1px solid;
  opacity: 0.6;
}

.lang-switch__option:first-child label {
  border-right: none;
  border-radius: 4px 0 0 4px;
}

.lang-switch__option:last-child label {
  border-radius: 0 4px 4px 0;
}

.lang-switch__wrapper input:checked ~ label {
  color: #fff;
  background: #333;
  opacity: 1;
}

.lang-switch__wrapper input:checked ~ label .han {
  color: #aaa;
}

.note span {
  font-size: 13px;
  display: block;
}

#start-test, #end-test {
  margin: 10px auto;
  background: #333;
  color: #fff;
  padding: 10px 10px 10px 30px;
  border-radius: 50px;
  font-size: 1em;
  border: #111 1px solid;
  display: flex;
  position: relative;
}

#start-test.hide, #end-test {
  display: none;
}

#end-test.show {
  display: flex;
}

#start-test:focus, #end-test:focus {
  outline: none;
}

#start-test:focus::before, #end-test:focus::before {
  content: " ";
  position: absolute;
  z-index: -1;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  border: rgba(0, 96, 255, .6) 5px solid ;
  border-radius: 50px;
}

#end-test:focus::before {
  border-color: rgba(205, 0, 0, .6);
}

#end-test {
  background: #880000;
  border-color: #550000;
}

#start-test span, #end-test span {
  display: block;
}

#start-test .han, #end-test .han {
  color: #aaa;
}

#start-test .icon, #end-test .icon {
  background: #fff;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  color: #333;
  margin-left: 20px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#end-test .icon {
  color: #880000;
}

#start-test .icon span, #end-test .icon span {
  position: relative;
}

#start-test .icon span {
  left: 1px;
}

#end-test .icon span {
  font-size: 28px;
  top: -3px;
}

#vocabulary-list {
  width: 100%;
  max-width: 400px;
  margin: 20px auto;
  text-align: left;
  visibility: hidden;
}

#vocabulary-list.show {
  visibility: visible;
}

#vocabulary-list li {
  padding: 5px 0;
  border-top: #ccc 1px dotted;
}

#vocabulary-list li:first-child {
  border-top: none;
}

#vocabulary-list .han {
  display: block;
}

#vocabulary-list .result-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#vocabulary-list .link a {
  display: block;
  background: #f5f5f5;
  border: #eee 1px solid;
  border-radius: 4px;
  padding: 5px 10px;
  font-size: 15px;
  text-align: center;
  line-height: 1.3;
  text-decoration: none;
  color: #333;
}

#more-info {
  position: absolute;
  right: 0;
  top: 18px;
  background: transparent;
  border: none;
  font-size: 1.6em;
}

body.info-modal__show::before {
  content: '';
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,.7);
  z-index: 20;
}

.info-modal {
  display: none;
  text-align: left;
}

.info-modal p {
  margin: 0 0 10px 0;
}

.info-modal__close {
  position: absolute;
  top: -36px;
  right: 0;
  background: #111;
  color: #fff;
  border: none;
  border-radius: 0;
  width: 36px;
  height: 36px;
  display: block;
  font-size: 30px;
}

body.info-modal__show .info-modal {
  display: block;
  position: fixed;
  width: 600px;
  top: 15vh;
  left: 50%;
  margin-left: -300px;
  z-index: 25;
}

.info-modal__content {
  background: #fff;
  padding: 30px;
  max-height: 70vh;
  overflow-y: auto;
}

@media (max-width: 767px) {
  body.info-modal__show .info-modal {
    width: 80%;
    margin-left: -40%;
  }
}

@media (max-width: 640px) {
  .lang-switch__wrapper {
    flex-direction: column;
    width: 300px;
    text-align: left;
  }
  .lang-switch__option {
    margin-bottom: 5px;
    position: relative;
    padding-left: 30px;
  }

  .lang-switch__option label {
    padding: 0;
    width: 300px;
    border: none;
    opacity: 1;
  }

  .lang-switch__option label::before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -10px;
    border: #333 1px solid;
    border-radius: 50%;
    width: 20px;
    height: 20px;
  }

  .lang-switch__wrapper input:checked ~ label {
    color: inherit;
    background: transparent;
    opacity: 1;
  }

  .lang-switch__wrapper input:checked ~ label .han {
    color: #777;
  }

  .lang-switch__wrapper input:checked ~ label::after {
    content: "";
    display: block;
    position: absolute;
    left: 3px;
    top: 50%;
    margin-top: -7px;
    background: #333;
    border-radius: 50%;
    width: 16px;
    height: 16px;
  }

  body.info-modal__show .info-modal {
    width: 90%;
    margin-left: -45%;
  }
}